body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #222;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 400px;
  display: block;
  background: #fff;
}
.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sec {
  flex-shrink: 0;
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  background-color: cadetblue;
}
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  text-decoration: underline;
}
footer a {
  color: #70757a;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 290px;
  max-height: 500px;
}
.logo img {
  max-height: 92px;
  height: 100%;
  margin-top: auto;
  display: block;
}
.search {
  padding: 20px;
  max-height: 160px;
  min-height: 140px;
  margin: auto;
}
.but-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.but {
  margin: 25px 4px;
  background-color: #f8f9fa;
  border: none;
  padding: 10px 25px;
  text-decoration: none;
  cursor: pointer;
}
.signin {
  background-color: #1a73e8;
  border: 1px solid transparent;
  padding: 10px 25px;
  text-decoration: none !important;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
.signin:hover {
  background-color: #1e76e9ed;
}
.for-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  border: 1px solid #70757a3b;
  border-radius: 50px;
  height: 44px;
  width: 582px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}
form img {
  height: 20px;
  width: 20px;
}
.glass {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mic {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input {
  border: none;
  flex-basis: 80%;
  letter-spacing: normal;
  word-spacing: normal;
  cursor: text;
  font-family: Arial, sans-serif;
  font: 400 13.3333px Arial;
}
form input:focus {
  outline: none;
}
.space {
  height: 309px;
  width: auto;
}
.footer {
  background: #f2f2f2;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 93px;
  color: #70757a !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.pad {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  width: 80%;
}
.top {
  order: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  justify-content: center;
  margin: 5px 0 0 0;
}
.bottom-left {
  justify-content: flex-start;
  min-width: 30%;
  order: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom-right {
  justify-content: flex-end;
  min-width: 30%;
  order: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.bottom {
  margin: 35px 0 0 0;
}
